* {
  margin: 0;
  padding: 0;
}
:root {
  --heading-color: #071c1f;
  --secondary-color: #80b500;
  --body-font: "Open Sans", sans-serif;
}
.container {
  padding: 0 1em;
  margin: 0 4em;
}

/* ...............................
Banner Start
................................ */
.banner {
  background-image: url("/images/banner_img.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  color: var(--heading-color);
  text-align: left;
  font-family: "Rajdhani", sans-serif;
  padding: 6em 0;
}
.banner-text h5 {
  font-size: 1rem;
}
.banner-text h1 {
  line-height: 40px;
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5em 0;
}
.banner-text p {
  color: var(--heading-color);
  padding-left: 2em;
  border-left: 1px solid black;
  font-family: var(--body-font);
  letter-spacing: 1px;
  font-weight: lighter;
  line-height: 1.5em;
  font-weight: 500;
  margin: 1.5em 0;
}
@media only screen and (min-width: 768px) {
  .banner-text p {
    width: 40%;
  }
}
.banner-text > button {
  width: 13.5em;
  height: 3.5em;
  background: var(--secondary-color);
  border: none;
  margin-top: 1em;
  font-weight: bold;
  color: white;
}
.banner-text button:hover {
  color: var(--heading-color);
  background: white;
  border: 2px solid black;
  transition: ease-in 0.5s;
}
/* ...............................
Banner End
................................ */
