* {
  margin: 0;
  padding: 0;
}

:root {
  --heading-color: #071c1f;
  --secondary-color: #80b500;
  --body-font: "Open Sans", sans-serif;
  --secondary-font: "Rajdhani", sans-serif;
}
.container {
  margin: 0 1em;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 1em;
    margin: 0 4em;
  }
}

/* ...............................
Top Nav start
................................ */
.top-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: var(--body-font);
  padding: 0.5em 0;
}
.top-nav div {
  display: flex;
}
.top-nav div h6 {
  margin-right: 1.5em;
}
.nav-socal-icon h6 i {
  margin-left: 0.5em;
}
/* ...............................
Banner Start
................................ */
.banner {
  background-image: url("/images/banner_img.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  color: var(--heading-color);
  text-align: left;
  font-family: var(--secondary-font);
  padding: 6em 0;
}
.banner-text h5 {
  font-size: 1rem;
}
.banner-text h1 {
  line-height: 40px;
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5em 0;
}
.banner-text p {
  color: var(--heading-color);
  padding-left: 2em;
  border-left: 1px solid black;
  font-family: var(--body-font);
  letter-spacing: 1px;
  font-weight: lighter;
  line-height: 1.5em;
  font-weight: 500;
  margin: 1.5em 0;
}
@media only screen and (min-width: 768px) {
  .banner-text p {
    width: 40%;
  }
}
.banner-text > button {
  width: 13.5em;
  height: 3.5em;
  background: var(--secondary-color);
  border: none;
  margin-top: 1em;
  font-weight: bold;
  color: white;
}
.banner-text button:hover {
  color: var(--heading-color);
  background: white;
  border: 2px solid black;
  transition: ease-in 0.5s;
}
/* ...............................
Banner End
................................ */

/* offer section start */
.offer-section img {
  max-width: 100%;
  margin: 0.5em 0;
}
.offer-section {
  margin: 3em 0;
}
@media only screen and (min-width: 768px) {
  .offer-section img:hover {
    transform: scale(1.1);
    transition: 3s;
  }
  .offer-section img {
    margin: 0;
  }
  .offer-section {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: dense;
  }
  .img1 {
    grid-row: 1/3;
    /* height: 563px; */
  }
  .img2 {
    grid-row: 1/2;
  }
  .img3 {
    grid-row: 2/3;
  }
}

/* ..............................
Top
.............................. */
.top-categories {
  text-align: center;
}
.sub-titel {
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-weight: 700;
  margin: 1em 0;
  text-align: center;
}
.categories-cart {
  margin: 1em auto;
  background-color: #fff;
  color: var(--heading-color);
  box-sizing: border-box;
  width: 14em;
  height: 14em;
  border: 1px solid beige;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: var(--secondary-font);
}
.categories-cart img {
  margin: 2em 0 1em 0;
}
.categories-cart:hover {
  border-bottom: 4px solid var(--secondary-color);
}
.categories-cart:hover h4 {
  color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
  .cart-items {
    display: flex;
  }
  .categories-cart {
    margin: 0.5em;
  }
}

/* OUR PRODUCTS START */
.our-products {
  margin: 0 auto;
}
.our-products nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: var(--secondary-font);
  color: var(--heading-color);
  font-size: 1.2rem;
}
.nav-items {
  border-right: 2px solid #d1e0e0;
  padding: 0 1.5em 0 0;
}
.our-products nav {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
}
#active {
  color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
  .our-products nav {
    visibility: visible;
  }
  .cart-col {
    margin-top: 3em;
  }
}
/* cart css */

.cart {
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  margin: 0em auto 2em auto;
  max-height: 100%;
  width: 18em;
  border: 1.5px solid #d1e0e0;
  box-sizing: border-box;
}
.cart:hover .cart-icons {
  visibility: visible;
}
.cart:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
}
.cart img {
  border-radius: 20px 20px 0 0;
  background: #f7f7f8;
  max-width: 100%;
}
.cart-info {
  padding: 1.5em;
  color: var(--heading-color);
  font-family: var(--secondary-font);
  text-align: center;
  line-height: 10px;
}
.cart-info h2 {
  color: var(--secondary-color);
  font-weight: bold;
}
.cart-info del {
  color: #b3d366;
}
.cart-info span {
  margin-right: 0.5em;
}
.cart-info > h4 {
  margin: 1em 0;
  font-weight: 700;
}
.cart-rating > ul {
  justify-content: center;
  display: flex;
  padding: 0;
}
.cart-rating ul li {
  list-style: none;
  margin: 0 0.3em;
  font-size: small;
}
.product-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  width: 3.5em;
  height: 2em;
  background: var(--secondary-color);
  border-radius: 15px 0 15px;
}
.product-badge p {
  text-align: center;
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: small;
}
.cart-icons {
  visibility: hidden;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.8em;
}
.cart-icons div {
  margin: 0 0.5em;
  padding: 0.8em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: white;
}
.cart-icons div i {
  text-align: center;
  padding: 0.5em;
}
.cart-icons div:hover {
  background-color: var(--secondary-color);
}
.cart-icons div:hover .fa-solid {
  color: white;
}
.fa-star {
  color: orange;
}
@media only screen and (min-width: 768px) {
  .cart-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
  }
}
/* status section start */
.status-section {
  background: #11271f;
  background-size: cover;
  margin: 4em 0;
}
.counts-div {
  padding: 3em 0;
  color: white;
  text-align: center;
}
.counts-div div {
  margin: 3.5em 0;
}
.counts-div div h1 {
  font-size: 4rem;
  font-family: var(--secondary-font);
}
.counts-div div p {
  font-weight: bold;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .status-section {
    background-image: url("/images/statusBackgroundImg.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4em 0;
  }
  .counts-div {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .counts-div div {
    margin: 8em 2.5em;
    color: white;
  }
}
#featured-card .cart {
  border-radius: 0;
}
#featured-card .cart img {
  border-radius: 0;
}

/* ----------contact us start---------- */
.contact-us {
  margin: 4em 0;
  background-image: url("/images/contactusBackground.jpg");
  height: 26em;
}
.contact-items {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-items div {
  margin-top: 4em;
}
.contact-items img {
  visibility: hidden;
  max-width: 82%;
  margin-top: 1em;
}
@media only screen and (min-width: 768px) {
  .contact-items img {
    visibility: visible;
  }
  .contact-items div {
    margin-top: 0;
  }
}
.contact-items h6 {
  word-spacing: 0.5rem;
  font-size: small;
  color: var(--secondary-color);
}
.contact-items h2 {
  margin: 0.5em 0;
  color: white;
  font-size: 3rem;
}
.call-btn {
  box-sizing: border-box;
  color: white;
  height: 3.5em;
  width: 10em;
  font-weight: bold;
  font-size: medium;
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  border: none;
  margin: 0 0.5em 0 0;
}
.call-btn:hover {
  color: var(--heading-color);
  background: white;
}
.contact-btn {
  box-sizing: border-box;
  color: white;
  height: 3.5em;
  width: 10em;
  font-weight: bold;
  font-size: medium;
  font-family: var(--secondary-font);
  background: transparent;
  border: 1px solid white;
}
.contact-btn:hover {
  background: var(--secondary-color);
}
.btn-group {
  display: flex;
}
.clear-div {
  clear: both;
}

/* Blog */
.blog-cart {
  box-sizing: border-box;
  margin: 0 1.5em 0 1.5em;
  height: 32em;
  max-width: 25em;
  background: #ffffff;
  box-shadow: 0px 0px 5px 5px #faf6f6;
  margin-bottom: 4em;
  overflow: hidden;
}
.fa-user,
.fa-tags,
.fa-calendar-days {
  color: var(--secondary-color);
}
.blog-cart img {
  max-width: 100%;
}
.blog-cart img:hover {
  transform: scale(1.1);
  transition: 2s;
}
.blog-cart-info {
  clear: both;
  text-align: left;
  padding: 2em;
  font-family: var(--secondary-font);
}
.blog-cart-info h4 {
  font-size: 1.7rem;
  margin: 0.8em 0;
}
.blog-cart-info h4:hover {
  color: var(--secondary-color);
}
.blog-cart-info hr {
  margin-bottom: 1em;
}
.blog-cart-info a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  float: right;
}
.blog-cart-info p {
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--heading-color);
  float: left;
  margin-right: 1.5em;
}
@media only screen and (min-width: 768px) {
  .blog-cart-col {
    display: flex;
    justify-content: space-around;
  }
}

/* Extra Home Section */
.extra-section-items {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  color: var(--heading-color);
  margin: 2em 0;
  padding: 2em;
  text-align: left;
}
.extra-section-items p {
  margin: 0.5em 0;
}
.extra-section-items div img {
  max-width: 100%;
}

.extra-section-items div {
  margin-right: 1.5em;
}
.extra-items-col {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px #f7efef;
}

@media only screen and (min-width: 768px) {
  .extra-items-col {
    display: flex;
    line-height: 1.5rem;
    font-weight: 500;
  }
}

/* Footer staart */
footer {
  color: white;
  margin: 3em 0 0 0;
  background: #071c1f;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1rem;
}
.footer-items {
  padding: 5em 0 1em 0;
  text-align: center;
}
.footer-items img {
  max-width: 100%;
}
.footer-items ul li {
  list-style: none;
}
.footer-items p,
li {
  margin: 1.5em 0;
}
.footer-items h3 {
  font-size: 1.5rem;
}
.footer-items i {
  margin-right: 0.8em;
}
.footer-items input {
  max-width: 30em;
  height: 3em;
  padding: 0.5em;
  border: none;
}
.footer-items button {
  max-width: 20em;
  height: 4.3em;
  background: var(--secondary-color);
  padding: 0 0.5em;
}
.footer-items button:hover {
  background: transparent;
  border: none;
}
.fa-share {
  color: white;
}
.footer-items h4 {
  margin: 0.5em 0;
}
.footer-item-two {
  text-align: center;
}
.footer-items span {
  visibility: hidden;
}
.footer-items li:hover span {
  visibility: visible;
  color: var(--secondary-color);
}
.footer-items li:hover {
  color: var(--secondary-color);
}
.footer-item-two div {
  display: flex;
  justify-content: center;
}
.footer-item-two h6 {
  margin: 1em 1em;
  font-size: medium;
}
.footer-item-two h6:hover {
  color: var(--secondary-color);
}
/* media  */
@media only screen and (min-width: 768px) {
  .footer-items {
    text-align: left;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 25% 15% 15% 15% 25%;
  }
  .footer-items p,
  li {
    font-size: 1.1rem;
  }
  .footer-item-two {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
  }
  .footer-item-two div {
    display: flex;
    text-align: left;
  }
}
