/* cart css */
:root {
  --heading-color: #071c1f;
  --secondary-color: #80b500;
  --body-font: "Open Sans", sans-serif;
  --secondary-font: "Rajdhani", sans-serif;
}
.cart {
  margin: 0 auto;
  height: 58em;
  width: 18em;
  color: var(--heading-color);
  font-family: var(--secondary-font);
}
.cart img {
  max-width: 100%;
}
.cart-info {
  text-align: center;
}
.cart-rating > ul {
  justify-content: center;
  display: flex;
  padding: 0;
}
.cart-rating ul li {
  list-style: none;
  margin: 0 0.3em;
  font-size: small;
}
